p.arrow-text{
    font-size: 14px;
    font-family: 'marheyregular';
    color: #0B0A0A;
    line-height: 1.3;
}
img{

}
img.left-arrow{
    transform: scaleX(-1);
}
.white{
    filter: brightness(0) invert(1); 
}