#price{
    padding:100px 0;
    background-color: #0B0A0A;
}
#price div.content{
    width:70%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#price div.content div.top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#price div.content div.top h3{
    color:#E8E8E8;
    font-size: 60px;
}
#price div.content div.top div.option{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}
#price div.content div.top div.option p{
    color:#60625D;
    font-size: 18px;
}
#price div.content div.top div.option p.active{
    color: #E8E8E8;
}
#price div.content div.top div.option div.option-button{
    background-color: #E8E8E8;
    width: 90px;
    height: 45px;
    border-radius: 30px;
    padding: 5px;
    margin:0 30px;
}
#price div.content div.top div.option div.option-button div{
    background-color: #A6FF34;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#price div.content div.top div.option div.card{
    width: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(22deg);
}
#price div.content div.top div.option div.card p{
    font-size: 14px;
    text-align: center;
}
#price div.bottom{
    display: flex;
}


@media all and (max-width:1280px){
    #price div.content div.top h3 {
        font-size: 42px;
    }
    #price div.content {
        width: 90%;
    }
}

@media all and (max-width:980px){
    #price {
        padding: 80px 0;
    }
    #price div.content div.top h3 {
        font-size: 34px;
    }
    div.price-card h3 {
        font-size: 24px;
    }
    div.price-card p {
        color: #0B0A0A;
        margin: 10px 0;
        font-size: 12px;
    }
}

@media all and (max-width:768px){
    #price div.bottom {
        flex-wrap: wrap;
        margin-right: -30px;
        justify-content: center;
    }
    div.price-card {
        margin-bottom: 20px;
        width: 255px;
    }
}

@media all and (max-width:480px){
    #price {
        padding: 50px 0;
    }
    #price div.content div.top h3 {
        font-size: 24px;
    }
    #price div.content div.top div.option div.card {
        display: none;
    }
    #price div.content div.top div.option p {
        font-size: 12px;
    }
    #price div.content div.top div.option div.option-button {
        margin: 0 15px;
    }
    #price div.bottom {
        margin-right: 0;
    }
}