#startup{
    margin:50px auto;
}
#startup h1{
    font-size: 68px;
    text-align: center;
}
#startup div.card-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#startup div.card-container div.card{
    background-color: #f5f5f5;
    width:270px;
    height:150px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    margin-bottom: 30px;
}
#startup div.card-container div.card:nth-child(4n){
    margin-right: 0;
}
#startup div.card-container div.card img{
    width: 120px;
    height: 120px;
}