#helps{
    padding: 100px 0;
}
#helps h1{
    color: #0B0A0A;
    font-size: 61px;
}
#helps h1 span{
    color: #60625D;
}


@media all and (max-width:1280px){
    #helps h1 {
        font-size: 42px;
    }
}

@media all and (max-width:980px){
    #helps h1 {
        font-size: 34px;
    }
    #helps {
        padding: 80px 0;
    }
}

@media all and (max-width:768px){
    #helps h1 {
        font-size: 24px;
    }
}

@media all and (max-width:480px){
    #helps {
        padding: 45px 0;
    }
    #helps h1 {
        font-size: 18px;
    }
}