#footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px 0;
}
#footer div.left{
    width:200px;
}
#footer div.left img{
    width: 100%;
}
#footer div.right{
    
}
#footer div.right ul{
    display: flex;
    align-items: center;
}
#footer div.right ul li{
    margin-right: 30px;
    font-size: 18px;
}
#footer div.right ul li:last-child{
    margin-right: 0;
}
#footer div.right ul li a{
    font-size: 18px;
}


@media all and (max-width:980px){
    #footer div.right ul li a {
        font-size: 14px;
    }
}

@media all and (max-width:640px){
    #footer div.right ul li {
        margin-right: 10px;
    }
    #footer div.left {
        width: 120px;
    }
}

@media all and (max-width:480px){
    #footer div.left {
        width: 100px;
    }
    #footer div.right ul li a {
        font-size: 8px;
    }
}