#spotlight{
    width: 100%;
    height: 848px;
    background-image: url('../../assets/images/spot\ light.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position:absolute;
    top: 0;
    z-index: -10;
} 
#spotlight div.top{
    z-index: 1;
    width:60%;
    margin:0 auto;
    text-align: center;
    padding-top: 150px;
}
#spotlight div.top h1{
    color: #e8e8e8;
    font-size: 78px;
    margin-bottom: 30px;
}
#spotlight div.top p{
    font-family: 'intersemibold';
    color: #60625d;
    width: 80%;
    margin:0 auto;
    line-height: 1.8;
    font-size: 16px;
    margin-bottom: 40px;
}
#spotlight div.top div.start-button{
    position: relative;
}
#spotlight div.top div.start-button a.button{
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    background-color: #A6FF34;
    color: #0B0A0A;
    padding: 15px 30px;
    border-radius: 30px;
    margin:0 auto;
    font-weight: 700;
    font-size: 18px;
}
#spotlight div.top div.start-button a.button span img{
    margin-left: 10px;
    margin-bottom: -5px;
}
#spotlight div.top div.start-button div.arrow{
    width:100px;
    position: absolute;
    top: -20px;
    right: 164px;
}
#spotlight div.top div.start-button div.arrow img{
    width: 100%;
}
#spotlight div.bottom{
    width: 70%;
    margin: 150px auto 0;
    display: flex;
    align-items: center;
    position: relative;
}
#spotlight div.bottom div{
    position: absolute;
    width: 280px;
}
#spotlight div.bottom div:first-child{
    left: 0;
    z-index: 4;
    transform: rotate(-10deg);
}
#spotlight div.bottom div:nth-child(2){
    left: 206px;
    top: -8px;
    z-index: 3;
}
#spotlight div.bottom div:nth-child(3){
    left: 404px;
    top: -65px;
    z-index: 2;
    transform: rotate(-3deg);
}
#spotlight div.bottom div:last-child{
    right: 0;
    top: 0;
    transform: rotate(4deg);
    z-index: 1;
}


@media all and (max-width:1280px){
    #spotlight div.top h1 {
        font-size: 60px;
    }
    #spotlight div.top p {
        font-size: 14px;
    }
    #spotlight div.top div.start-button div.arrow {
        right: 66px;
    }
    #spotlight div.bottom div {
        width: 222px;
    }
    div.search-card span {
        font-size: 12px;
    }
    #spotlight div.bottom div:nth-child(2) {
        left: 172px;
        top: 15px;
    }
    #spotlight div.bottom div:nth-child(3) {
        left: 335px;
        top: -43px;
    }
    #spotlight div.bottom div:last-child {
        right: 0;
        top: 24px;
    }
}

@media all and (max-width:980px){
    #spotlight div.top {
        width: 70%;
    }
    #spotlight div.top h1 {
        font-size: 46px;
    }
    #spotlight div.top p {
        width: 100%;
    }
    #spotlight div.bottom div {
        width: 200px;
    }
    #spotlight div.bottom div:nth-child(2) {
        left: 105px;
    }
    #spotlight div.bottom div:nth-child(3) {
        left: 237px;
    }
}

@media all and (max-width:768px){
    #spotlight div.top {
        width: 90%;
    }
    #spotlight div.bottom {
        width: 90%;
    }
}

@media all and (max-width:640px){
    #spotlight div.top h1 {
        font-size: 37px;
    }
    #spotlight div.top div.start-button a.button {
        width: 180px;
        padding: 12px 21px;
    }
    #spotlight div.top div.start-button div.arrow {
        right: 26px;
    }
    #spotlight div.top div.start-button div.arrow {
        width: 80px;
    }
    #spotlight div.bottom div:last-child {
        top: 85px;
    }
}

@media all and (max-width:480px){
    #spotlight div.top h1 {
        font-size: 28px;
    }
    #spotlight div.top p {
        font-size: 12px;
    }
    #spotlight div.top div.start-button a.button {
        width: 165px;
        padding: 10px -8px;
    }
    #spotlight div.top div.start-button a.button {
        font-size: 14px;
    }
    #spotlight div.top div.start-button div.arrow {
        width: 58px;
    }
    #spotlight div.top div.start-button div.arrow {
        right: 0px;
    }
    #spotlight div.bottom div:first-child {
        left: 10px;
        transform: none;
    }
    #spotlight div.bottom div:nth-child(2) {
        left: 25px;
    }
    #spotlight div.bottom div:nth-child(3) {
        left: 40px;
        top: 73px;
        transform: none;
    }
    #spotlight div.bottom div:last-child {
        top: 132px;
        left: 50px;
        transform: none;
    }
    #spotlight div.bottom {
        margin: 130px auto 0;
    }
}