#new-tabs{
    width:100%;
    height: 550px;
    background-color: #A6FF34;
    color:#0B0A0A;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 732px;
}
#new-tabs div.content{
    width:60%;
    margin:0 auto;
    text-align: center;
}
#new-tabs div.content h1{
    color:#0B0A0A;
}
#new-tabs div.content p{
    color: #60625d;
    width: 70%;
    margin:0 auto;
    line-height: 1.8;
    font-size: 17px;
}
#new-tabs div.content div.card-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-tabs div.content div.card-container div.card{
    width:400px;
    height:150px;
    margin:50px auto;
    background-color: #fff;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#new-tabs div.content div.card-container div.card-left{
    position: absolute;
    left:10%;
    top:90px;
    width:100px;
}
#new-tabs div.content div.card-container div.card-left img.arrowtext{
    transform: rotate(-38deg);
}
#new-tabs div.content div.card-container div.card-right{
    position: absolute;
    right:10%;
    top:90px;
    width:100px;

}
#new-tabs div.content div.card-container img.arrow{
    width: 45px;
    transform: scaleX(-1);
    position: absolute;
    top: 45px;
}
#new-tabs div.content div.card-container img.card-img{
    width: 250px;
}