* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
a{
  text-decoration: none;
  color:black;
}
.wrapper{
  width:90%;
  margin:0 auto;
}
body{
  font-family: 'interregular';
}
h1{
  font-size: 78px;
  font-family: 'interbold';
  color: #0B0A0A;
}
h2{
  font-size: 24px;
  font-family: 'interbold';
}
h3{
  font-size: 20px;
  font-family: 'interbold';
}

@font-face {
  font-family: 'interbold';
  src: url('./assets//fonts/Inter-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interregular';
  src: url('./assets//fonts/Inter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'intersemibold';
  src: url('./assets//fonts/Inter-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'marheyregular';
  src: url('./assets//fonts/Marhey-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}