* {
  padding: 0;
  margin: 0;
  /* appearance: none; */
  text-decoration: none;
  /* color: #222; */
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  padding-left: 0;
}
a{
  text-decoration: none;
  color:black;
}
.wrapper{
  width:90%;
  margin:0 auto;
}
body{
  font-family: 'interregular';
}
h1{
  font-size: 78px;
  font-family: 'interbold';
  color: #0B0A0A;
}

@font-face {
  font-family: 'interbold';
  src: url('./assets//fonts/Inter-Bold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'interregular';
  src: url('./assets//fonts/Inter-Regular.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'intersemibold';
  src: url('./assets//fonts/Inter-SemiBold.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}
